<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<h1 class="my-0 mr-md-auto font-weight-bold" style="color: red">J_ckSp_rrow company</h5>
<nav class="my-2 my-md-0 mr-md-3">
<span class="p-2 text-dark"><%= link_to "Main page", home_path %></span>
<a class="p-2 text-dark" href="<%= about_path %>">Contact</a>
<a class="p-2 text-dark" href="<%= contact_path %>">About</a>
</nav>
<span class="btn btn-outline-primary"><%= link_to "New post", new_post_path %></span>
</div>
<br>
